#companyNameSubmit{
  background: #3498db;
	color: white;
	font-weight: bold;
  padding: 10px;
	border: 1px solid #ccc;
	text-align: left;
	font-size: 18px;
  cursor: pointer;
  width: 100%;
}
#header{
  background-color: darkgrey;
}

.navtitle{
  display: inline-block;
  color: black;
  font-size: 3rem;
  text-align:center;
}

#logo{
  min-width: 100px;
  min-height: 100px;
}
